.card {
  /* @apply border-gray-300 shadow-sm m-4;*/
  background-color: #FFFFFF;
  border: 5px solid #999999;
  height: 425px;
  margin-right: 15px;
  margin-bottom: 15px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
  overflow: hidden;
}

.card img {
  @apply w-4/5 h-[200px] mr-[1%] mt-2.5;
}

.card-title {
  @apply flex font-bold justify-center mb-[15px];
}
.card-text{
  @apply text-justify;
}

.card .card-body {
  @apply p-4;
}

.card .card-body h3 {
  @apply text-lg font-semibold;
}

.card-body {
  @apply flex flex-col items-center;
}

.precio-consumible {
  @apply bg-black text-white h-[30px] w-[100px] mt-10;
}

.precio-consumible p {
  @apply flex mt-1; 
}

.precio-consumible p {
  @apply flex justify-evenly;
}