@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

body {
  @apply bg-black;
}
.contenedor-acerca {
  background-color: #E5E5E5;
  font-family: 'Poppins', sans-serif;
  width: 80%;
  margin-left: 8%;
  margin-right: 8%;
  margin-bottom: 80px;
  top: 50%;
  position: static;
  flex-grow: 1;
  padding: 20px;
}
.separador {
  @apply border-[5px] border-solid border-[#C40000];
}
.contenedor-entrenadores {
  @apply flex flex-col items-center;
}
.contenedor-entrenadores h1 {
  @apply text-[40px] font-bold mt-[2%] mb-2.5;
}
.contenedor-carta {
  @apply flex flex-row flex-wrap justify-evenly;
}
.entrenadores {
  @apply bg-white w-[30%] m-2.5 border-[7px] border-solid border-[#999999];
}
.entrenadores p {
  @apply m-2.5 justify-center;
}
.entrenadores img {
  @apply w-[90%] shadow-[1px_7px_5px_3px_rgba(0,0,0,0.5)] m-[5%];
  -webkit-box-shadow: 1px 7px 5px 3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 1px 7px 5px 3px rgba(0, 0, 0, 0.5);
}
.entrenadores h2 {
  @apply flex justify-center font-bold mt-1;
}

@media  (max-width: 854px) {
  .contenedor-acerca{
    overflow-x: hidden;
  }
  .contenedor-entrenadores h1 {
    font-size: 24px
}
}
