.contenedor-consumibles {
        @apply bg-[#E5E5E5] font-['Poppins'] w-[80%] mx-[8%] mb-20 top-1/2 static flex-1 p-5;
}

/* .contenedor-consumibles {
        background-color: #E5E5E5;
        font-family: 'Poppins', sans-serif;
        width: 80%;
        margin-left: 8%;
        margin-right: 8%;
        margin-bottom: 80px;
        top: 50%;
        position: static;
        flex: 1;
        padding: 20px;
} */

.titulos {
        @apply flex flex-col items-center;
}

.titulos h1 {
        @apply font-bold text-[40px] mb-2.5 uppercase;
}

.titulos h2 {
        @apply font-bold text-xl text-[#637179] text-justify mb-2.5 uppercase tracking-wide;
}

.tipo-producto h2,
.separador-consumible {
<<<<<<< HEAD
        @apply ml-[3.5%]
=======
        margin-left: 3.5%;
>>>>>>> 107316a9a958961644d11ff2211560f9d7d7154a
}

.tipo-producto h2 {
        @apply mt-10 font-bold text-[30px] uppercase;
        background: -webkit-linear-gradient(#C40000, #000);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
}

.separador-consumible {
        @apply border border-[#C40000] mb-[30px] w-[91.5%];
}

@media (max-width: 854px) {
        .titulos h1 {
                @apply text-3xl;
        }

        .titulos h2 {
                @apply text-[15px];
        }

        .tipo-producto h2 {
                @apply text-[25px];
        }
}
