.contenedor-consumibles{
        background-color: #E5E5E5;
        font-family: 'Poppins', sans-serif;
        width: 80%;
        margin-left: 8%;
        margin-right: 8%;
        margin-bottom: 80px;
        top: 50%;
        position: static;
        flex-grow: 1;
        padding: 20px;   
}
.titulos {
  @apply flex flex-col items-center;
}
.titulos h1 {
  @apply font-bold text-[40px] mb-2.5;
}
.titulos h2 {
  @apply font-bold text-xl text-[#637179] text-justify mb-2.5;
}