.container {
    @apply flex w-full justify-between p-56 bg-neutral-200;
}

.container-info-form{
    display: flex;
    flex-direction: row;
}

.contact-info {
    @apply max-w-sm mx-auto text-left ml-28;
    /* Añade margen a la izquierda */
}

.contact-info h1 {
    @apply text-4xl font-bold mb-4 text-black uppercase;
}

.contact-info p {
    @apply mb-4 text-black;
}

.contact-icons span {
    @apply ml-2;
}

.form {
    @apply flex-1 text-black rounded-tr-2xl px-12 pt-6 pb-8 ml-4;
}

.form input,
.form textarea {
    @apply shadow appearance-none rounded-md w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none border-b-red-900 border-2;
}

.form button {
    @apply bg-red-900 hover:bg-red-300 text-white font-bold py-2 px-4 rounded-lg focus:outline-none uppercase m-0;
    /* Utiliza la misma clase de margen para el botón */
}

.form input {
    @apply w-56 h-8 m-2 ml-4;
}

.form textarea {
    @apply w-96 h-28 ml-0 resize-none m-2;
}

.form input[type="text"] {
    @apply ml-7;
}

.form input[type="number"]::-webkit-inner-spin-button,
.form input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

@media (max-width: 590px) {

    .container {
        padding: 0px;
        display: flex;
        flex-direction: column;
        height: 1500px;
        overflow: hidden;
        margin-bottom: -100px;
    }
    .container-info-form{
        display: flex;
        flex-direction: column;
    }

    .contact-info h1 {
        font-size: 25px;
        margin-left: -0px;
        display: flex;
        justify-content: center;

    }

    .contact-info {
        margin-top: 20px;
        margin-left: 60px;
    }

    .form input {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        margin-bottom: 5px 0px;
        margin-left: 0px;
    }

    .form input[type="text"] {
        @apply ml-0;
    }

    .input-mensaje textarea{
        width: 350px;
    }
}

@media (min-width: 591px) and (max-width: 1023px){

    .container {

        padding: 0px;
        display: flex;
        flex-direction: column;
        height: 1500px;
        overflow: hidden;
        margin-bottom: -100px;
    }
    .container-info-form{
        display: flex;
        flex-direction: column;
    }

    .contact-info h1 {
        font-size: 30px;
        display: flex;
        justify-content: center;

    }

    .contact-info {
        margin-top: 20px;
        margin-left: 25%;

    }

    .form{
        margin-left: 18%;
    }
    .form input {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        margin-bottom: 5px 0px;
        margin-left: 0px;
    }

    .form input[type="text"] {
        @apply ml-0;
    }
}

@media (min-width: 1024px) and (max-width: 1279px){

    .container {
        padding: 0px;
        display: flex;
        flex-direction: column;
        height: 1500px;
        overflow: hidden;
        margin-bottom: -100px;
        align-items: center;
    }
    .container-info-form{
        margin-top: 100px;
        display: flex;
        flex-direction: row;

    }

    .contact-info h1 {
        font-size: 25px;
        display: flex;
    }

    .contact-info {
        margin-top: 20px;
    }

    .form{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 65px;
    }
    .form input {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        margin-bottom: 5px 0px;
        margin-left: 0px;
    }

    .form input[type="text"] {
        @apply ml-0;
    }
}