@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

section {
    @apply bg-[#E5E5E5] font-['Poppins'];
}

/* Estilos para el Hero Panel */
.hero-panel {
    @apply flex flex-col justify-center items-center h-[600px] w-[80%] m-0;
}

.hero-panel img {
    @apply w-full h-full object-cover;
}

/* Estilos para la secciones Acerca de y Ubicacion*/
.acerca,
.ubicacion {
    @apply flex flex-col items-center w-[80%] py-10 px-0 text-center;
}

.acerca h2,
.ubicacion h2 {
    @apply mb-5 font-bold text-[2rem] uppercase;
}

.acerca-info,
.ubicacion-info {
    @apply flex flex-row items-center justify-center;
}

/* Estilos para acerca de Imagen y parrafo*/
.acerca-info img {
    @apply w-[350px] h-auto mr-12;
}

.acerca-info p {
    @apply max-w-[20%] text-left font-medium ;
}

/* Estilo para ubicacion parrafo y mapa */
.ubicacion-info p {
    @apply max-w-[40%] text-left font-medium;
}

.mapa {
    @apply w-full max-w-[400px];
}

.separador-inicio {
    /*@apply border-[15px] border-solid border-[#C40000] mb-8;*/

    border: 1px solid #C40000;
    margin-top: 10px;
    margin-bottom: 30px;
    width: 91.5%;
}

/* Laptop */
@media (min-width: 1024px) {
    section {
        @apply font-['Poppins'];
    }
    .hero-panel {
        @apply h-[600px] w-[80%];
    }
    .acerca, .ubicacion {
        @apply w-[80%] py-10 px-0;
    }
    .acerca-info img {
        @apply w-[350px] mr-12;
    }
    .acerca-info p {
        @apply max-w-[35%];
    }
    .ubicacion-info p {
        @apply max-w-[35%];
    }
    .mapa {
        @apply max-w-[450px];
    }
}

/* Tablet */
@media (max-width: 1023px) {
    section {
        @apply font-['Poppins'];
    }
    .hero-panel {
        @apply h-[500px] w-[90%];
    }
    .acerca, .ubicacion {
        @apply w-[90%] py-8 px-4;
    }
    .acerca-info img {
        @apply w-[250px] mr-8;
    }
    .acerca-info p {
        @apply max-w-[45%];
    }
    .ubicacion-info {
        @apply flex-col
    }
    .ubicacion-info p {
        @apply max-w-[60%] text-center;
    }
    .mapa {
        @apply max-w-[450px];
    }
}

/* Celular */
@media (max-width: 767px) {
    section {
        @apply font-['Poppins'];
    }
    .hero-panel {
        @apply h-[400px] w-[90%];
    }
    .acerca, .ubicacion {
        @apply py-6 px-2;
    }
    .acerca-info, .ubicacion-info {
        @apply flex-col;
    }
    .acerca-info img {
        @apply w-[200px] mr-0 mb-4;
    }
    .acerca-info p {
        @apply max-w-[80%] text-center;
    }
    .ubicacion-info p {
        @apply max-w-[80%] text-center;
    }
    .mapa {
        @apply max-w-[450px];
    }
}


/* Celulares Pequeños */
@media (max-width: 479px) {
    section {
        @apply font-['Poppins'];
    }
    .hero-panel {
        @apply h-[300px] w-[90%];
    }
    .acerca, .ubicacion {
        @apply py-4 px-2;
    }
    .acerca-info img {
        @apply w-[150px] mr-2;
    }
    .acerca-info p {
        @apply max-w-[90%];
    }
    .ubicacion-info p {
        @apply max-w-[90%];
    }
    .mapa {
        @apply max-w-[450];
    }
}


