/* inicio.css */
section {
    /* max-width: 1200px; */
}

.hero-section {
    width: 100%;
    padding: 200px; /* Ajusta el espacio a los lados según lo que necesites */
}

.hero-container {
    margin: 0 auto; /* Centra el contenido horizontalmente */
}

.hero-image {
    width: 100%;
    height: auto;
    display: block;
}
