/* mensualidades.css */

.text-center {
  text-align: center;
}

.blog-title {
  font-size: 2rem;
  font-weight: bold;
  color: rgb(196, 0, 0);
}

.center-cards {
  display: grid;
  grid-template-columns: repeat(1, 1fr); /* Adjusted for smaller screens */
  gap: 20px;
  justify-content: center;
}

.border {
  border-width: 1px;
  border-style: solid;
  border-color: #e5e7eb;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
  margin: 0 auto;
  max-width: 300px;
  width: 100%;
}

.border:hover {
  transform: scale(1.05);
}

.text-xl {
  font-size: 1.25rem;
}

.font-bold {
  font-weight: bold;
}

.text-green-500 {
  color: #10b981;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.list-disc {
  list-style-type: disc;
  padding-left: 1rem;
}

.pl-4 {
  padding-left: 1rem;
}

/* Media Query for Tablets */
@media (min-width: 640px) {
  .center-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Media Query for Desktops */
@media (min-width: 1024px) {
  .center-cards {
    grid-template-columns: repeat(3, 1fr);
  }
}