@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

/* Estilos para el header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
    background-color: #000;
    border-bottom: 5px solid #C40000;
    font-family: 'Poppins', sans-serif;
}

/* Estilos para el logo */
.logo {
    @apply flex items-center;
}

.logo img {
    @apply w-12 h-12 rounded-full;
}

.logo h1 {
    @apply m-0 text-white ml-3 text-2xl;
}

/* Estilos para el menú */
header nav ul {
    @apply list-none flex;
}

.navLinks a {
    @apply block py-2 px-4 no-underline text-white font-medium;
}

/* Estilos para el submenú principal */
.submenu {
    @apply hidden absolute bg-gray-800 z-10 p-3 rounded shadow-md;
}

.navLinks > li:hover .submenu {
    @apply block;
}
/* Estilos para el submenú de productos */
.product-submenu {
    @apply hidden absolute top-20  left-full bg-gray-800 z-10 p-3 shadow-md rounded-none; /* Agregado 'rounded-none' */
    /* Ajusta el valor de top según sea necesario para mover el submenú hacia abajo */
}

.navLinks > li:hover .submenu .product-submenu {
    @apply block;
}


